#cardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.burgers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    
}

.img-burger{
    width: 100%;
    border-radius: 5px;
}
.burger{
    width: 25%;
    min-width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}
.burger-heart{
    position: absolute;
    right: -5px;
    top: -5px;
    padding: 10px;
    background-color: var(--color-ambar);
    border-radius: 0 0 0 10px;

}
.burger-description{
    color: #434343;
}
.burger-rate i{
    color: var(--color-ambar);
}
.burger-price{
    display: flex;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width:1024px) {
    .burgers{
        display: grid;
        grid-template-columns: auto auto;
        gap: 48px;
        min-height: calc(100vh - 90px);
    }
}
@media screen and (max-width:600px) {
    .burgers{
        display: flex;
        flex-direction: column;
    }
    .cta-titulo{
        width: 100%;
    }
    
}
