.img-chef{
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
}

#testimonials_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedbacks{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.feedback{
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.feedback-coment{
    display: flex;
    flex-direction: column;
}
.feedback-coment h5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback-coment h5 span{
    color: var(--color-ambar);
}
.container-feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}
.avatar{
    width: 50px;
}