#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: calc(100vh - 90px); */
}

#cta{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items:flex-start;    
}
.banner{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.cta-titulo{
    display: flex;
    flex-direction: column;
}
.cta-titulo .title{
    font-size: 40px;
}
.cta-titulo .description{
    font-size: 1.2rem;

}
.title span{
    color: var(--color-ambar);
}
.cta-buttons{
    gap: 24px;
    display: flex;
}
.cta-buttons a{
    color: #1d1d1d;
}
.social-media-buttons{
    display: flex;
    gap: 12px;
}
.img-banner{
    width: 100%;
    max-width: 600px;
    border-radius: 40% 30% 0 20%;
}


